<!DOCTYPE html>
<html lang="en_gb" data-theme="dark" dir="ltr">
<head>
  <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" /><title>{% block title %}{{ active_robot_profile.display_name }}{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png"><link rel="manifest" href="/static/site.webmanifest">
  <link rel="stylesheet" href="/static/css/pico.css"><link rel="stylesheet" href="/static/css/cockpit.css?v=7"><link rel="stylesheet" href="/static/dist/styles/cockpit.css?v=6"><link rel="stylesheet" href="/static/css/all.css"><script src="/static/js/jquery.js"></script>
  <script type="importmap">{"imports":{"vue":"/static/dist/vendor/vue.runtime.esm-browser.prod.js?v=5"}}</script>
  {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">{% include "header.jinja" %}{% block content %}{% endblock %}{% block scripts %}{% endblock %}<script type="module" src="/static/dist/main.js?v=7"></script></body>
</html>
