[Unit]
Description=ROV Cockpit web application
Requires=nats-server.service
After=network.target nats-server.service

[Service]
User=@ROBOT_USER@
WorkingDirectory=@PROJECT_ROOT@
EnvironmentFile=-/etc/robot/nats.env
ExecStart=/bin/bash "@COCKPIT_ROOT@/run.sh"
Environment=MAP_TILE_PROXY=true
Environment=CSV_ROOT=@PROJECT_ROOT@/data/csv
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
